* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

.hero {
    background: #111;
    color: white;
    padding: 140px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 600px;
}

.hero .btn {
    position: static; /* IMPORTANT */
}

.btn {
    background: #0077ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
}

.project {
    background: white;
    padding: 20px;
    border-radius: 5px;
}
.project img {
    width: 75%;
    max-width: 200px;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
}
