* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

.hero {
    background: #111;
    color: white;
    padding: 120px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
}

.btn {
    background: #0077ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
}

.project {
    background: white;
    padding: 20px;
    border-radius: 5px;
}
.project img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 15px;
    border-radius: 5px;
}
